build/
install/
log/
lib/
bin/
data/

# rosbag
*.bag
*.db3
*.mcap

# ros2 bag folder
*.bag/
*_0.db3


*.log
*.cmake
# 编辑器配置文件
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

data/bag/
data/ch3/10.txt
